#hand-check {
  /*background-image: url(../../assets/hand-check.png);*/
  width: 1000px;
  height: 1000px;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  /*mix-blend-mode: difference;*/
}
